.header {
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #bc4343;

  padding: 15px 30px;
  border-bottom: 1px solid #ddd;
}

.logo {
  width: 80px;
}

.search-bar input {
  width: 400px;
  padding: 8px;
}

.menu {
  display: flex;
  gap: 10px;
}

.searchbar {
  display: flex;
  align-items: center;

  width: 500px;
  height: 44px;

  margin: 40px auto;

  border: 1px solid #dfe1e5;
  border-radius: 24px;

  padding: 0 10px;

  background: white;
}

.searchbar:hover {
  box-shadow: 0 1px 6px rgba(32,33,36,0.28);
}

.searchbar input {
  flex: 1;

  border: none;
  outline: none;

  font-size: 16px;
}

.searchbar button {
  border: none;
  background: transparent;

  font-size: 14px;
  cursor: pointer;

  padding: 8px 12px;
}

.searchbar button:hover {
  color: #1a73e8;
}